%section
  - if @product_prices.blank?
    %section.well
      %h4 0 results found for the selected price.
  - else
    - @product_prices.each_slice(3).to_a.each do |row|
      %div.row-fluid.well
        %ul.thumbnails
          - row.each do |prod|
            %li.span4
              %a{:href => product_info_path(prod.id) , :class => 'thumbnail button'}
                - if prod.product.photo.exists?
                  = image_tag prod.product.photo.url(:medium)
                  %br
                  #caption
                    %span= prod.product.name
                    %br
                    #price_info
                      %img{ :src => image_path("currency.gif")}
                      = prod.price
