%div
  %ul.breadcrumb.row-fluid
    %li.active About
  %div.row-fluid.well
    Ever thought of glancing at all the best deals available with your favorite restaurants. Then Toothsome is for you. It provides all the cheapest deals available at KFC,Dominos,Pizza Hut,Subway,McDonalds and many more food chains that offer cheap but tasty deals at your location.
    For more on how Toothsome works, please navigate to the Home page.

