.row-fluid
  .span3
    .well
      %div
        %span#price_test  Search by price (
        %img{:src => image_path('currency.gif')}
        )
      %br
      #slider
      #price_range
        %span{:class => "min"} 10 
        %span{:class => "max"} 199
    .well
      #tag_cloud
        - tag_cloud Product.tag_counts, %w{s m l} do |tag, css_class| 
          = link_to tag.name, tag_path(tag.name), :class => css_class
    .well
      %span#current_week_day      
      %ul.thumbnails
        %li.span12
          %a{:href => product_info_path(@today_product.id), :class => 'thumbnail button'}
            - if @today_product.photo.exists?
              = image_tag @today_product.photo.url(:medium)
              %br
              #caption
                %span= @today_product.name
                %br
                #price_info
                  %img{ :src => image_path("currency.gif")}
                  = @today_product.product_price.price
      .view-all-day-deals View all deals
  .span9
    #search_results
      %ul.breadcrumb
        %li
          %a{:href => "#"} Best
          %span.divider /
        %li
          %a{:href => "#"} Popular
          %span.divider /
        %li
          %a{:href => "#"} Most Wanted
          %span.divider /
        %li.active Home
      //= render :partial => "products", :locals => {:product_prices => @product_prices}
      =render :partial => "products"
