.row-fluid
  .span4
    .well
      #price_text Search by price
      %br
      #slider
      #price_range
        %span{:class => "label min"} 10 
        %span{:class => "label max"} 199
          
  .span8
    .hero-unit
      %h2 world


