// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.results{
  margin-left: 5px;
  margin-top: 5px;
  font-size: 13px;
  position: relative;
  height: 320px;
  width: 183px;
}
.title {
  text-decoration: underline;
  font-size: 13px;
}
.price {
  margin-top: 7px;
  font-size: 15px;
  text-decoration: none;
}
#price_range {
  margin-top: 5px;
  position: relative;
  padding-bottom: 5px;
  color: #015b4e;
}
.min {
  position: relative;
  display: block;
  float: left;
  left: 0px;
  color: #015b4e;
}
.max {
  position: relative;
  display: block;
  float: right;
}
#caption {
  text-align:center;
  color:#004b91;
}
#price_info {
  font-weight:bold;
  color:#b00;
}
.prod_popup {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 600px;
  height: 300px;
  overflow: hidden;
  -webkit-user-select: none;
  background-color: white;
  border: 1px solid rgb(171, 171, 171);
}
.b-close {
  border-radius: 7px 7px 7px 7px;
  font: bold 111% sans-serif;
  right: -7px;
  top: -7px;
  cursor:pointer;
  float:right;
}

.close-btn {
  border-radius: 7px 7px 7px 7px;
  box-shadow: none;
  font: bold 131% sans-serif;
  background-color:#2b91af;
  cursor:pointer;
  color:white;
  width: 20px;
  height: 20px;
  text-align: center;
  position: absolute;
  display: none;
}

#slider .ui-slider-range { background: #e86537; }
#slider .ui-slider-handle { border-color: #e86537; }

.view-all-day-deals{text-align: center;color: #dd4814;cursor: pointer;}
span#current_week_day{font-size: 16px;color: #dd4814;}

.star{padding-left: 56px;}

.breadcrumb.row-fluid{padding: 8px 20px;}
body{background-attachment: fixed;}

#top-site-label ul.dropdown-menu {
  top: 38px;
}

#top-site-label ul.dropdown-menu li {
  padding-left: 10px;
  padding-right: 10px;
}