%div
  %ul.breadcrumb
    %li
      %a{:href => clients_path} Clients
      %span.divider /
    %li
      %a{:href => client_path(@client)} #{@client.name}
      %span.divider /
    %li.active Products
- @products.each_slice(4).to_a.each do |row|      
  %div.row-fluid.well
    %ul.thumbnails
      - row.each do |product| 
        %li.span3
          .thumbnail
            %a{:href => product_path(:id => product, :cid => @client)}          
              %img{"src" => "#{product.photo.url}"}
            %h4
              = product.name
%a.btn.btn-primary.btn-small{"data-toggle" => "modal", :href => new_product_path(:cid => @client), :type => "button"} Add product
